   @media (min-width:701px) and (max-width:991px) {

      /* start navbar "header" */
      nav {
         width: 100%;
         background-color: #000;
         height: 8rem;
         position: fixed;
         right: 1px;
      }

      .nav-list {
         width: 100%;
         height: 85vh;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         background-color: #000;
         position: fixed;
         left: 0;
         bottom: -100vh;
         padding-left: 1rem;
         transition: bottom 650ms;
         z-index: 99
      }

      .nav-link {
         font-size: 17px;
         text-decoration: none;
         display: block;
         margin: 2px -0.5rem;
         color: #FFF;
         font-weight: bold;
         transform: scale(0);
         transition: transform 650ms;
      }

      .cantactIcon-i {
         display: block;

      }

      .nav-list.open {
         bottom: -15px;
      }

      .nav-item {
         position: relative;
         line-height: 3rem;
         transition-delay: .5s;
         visibility: hidden;
      }



      .movy {
         flex-direction: column-reverse;
      }


      /* start home section */
      .max-width {
         padding: 0 23px;
      }

      .home .home-content .text-2 {
         font-size: 60px;

      }



      .home .home-content .text-3 {
         font-size: 32px;

      }

      .home .home-content a {
         font-size: 20px;

      }

      #home .wrapper {
         margin-top: 50px;
      }

      .arrwo .fa-arrow-down:hover {
         color: crimson;
      }


      /* Start Home section */

      .myMervat {
         float: right;
         margin-top: 130px;
         margin-right: 20px;
      }

      .mervat {
         height: 360px;
         max-width: 360px;
         margin-top: 0px;
         margin-right: 185px;

      }

      .wrapper .static-txt {
         color: #FFF;
         font-size: 60px;
         margin-top: 35px;

      }

      .dynamic-txts li {
         font-size: 45px;
         color: crimson;
         font-weight: 400;

      }

      .wrapper .dynamic-txts {
         margin-top: -14px;
      }

      /* Start botton called view my works & arrow contact */
      .links {

         display: flex;
         justify-content: space-around;
         margin-top: 72px;
         margin-left: 185px;
      }


      .links .veiw {
         padding: 10px 50px;
         height: 58px;
         max-width: 240px;
         width: 100%;
         font-size: 18px;
         text-align: left;
         background: none;
         border-radius: 5px;
         font-weight: bold;
         box-shadow: inset 0 0 0 0 grey;
         transition: ease-in-out 1.9s;
         border: 1px solid #FFF;
         outline: none;
         margin-left: -54px;
         color: #FFF;
         text-decoration: none;
      }


      .links .contct {
         width: 100%;
         background: none;
         text-align: center;
         border: none;
         outline: none;
         font-size: 25px;
         font-weight: 600;
         text-decoration: none;
         color: #FFF;
      }

      .links .contct:hover {
         color: crimson;
      }

      .links .contct .fa-caret-down {
         margin: 10px;
         font-size: 25px
      }

      /* End botton called view my works & arrow contact */

      /* End Home section */









      .max-width {
         padding: 0 50px;
      }



      /* start typer called "HI I'M MERVAT */
      /* End typer called "HI I'M MERVAT */
      /* start Contacting section */

      /* part Right into section Contacting */
      section .title {
         margin-bottom: 25px;
         padding-bottom: 10px;
      }

      .wrapper {
         margin-top: 40px;
      }

      /* part LEFT into section Contacting */

      .contactLeft .injoy {
         font-size: 19px;
      }

      .contactLeft .cantactIcons i {
         padding: 5px;
         margin-left: 15px;
      }



      /* End Contacting section */











      /* Start About Section */
      .about .about-content .column {
         width: 100%;

      }

      .about .about-content .left {
         display: flex;
         justify-content: center;
         margin: 0 auto 60px;

      }

      .about .about-content .right {
         flex: 100%;

      }

      .services .serv-content .card {
         width: calc(50% - 10px);
         margin-bottom: 20px;
      }

      .skills .skills-content .column {
         width: 100%;
         margin-bottom: 35px;
      }

      .about .about-content .left img {
         width: 350px;
         height: 350px;

      }

      .about .about-content .right .text {
         font-size: 32px;
      }

      /*Start Services section */
      .services .serv-content .card {
         width: 100%;
      }


      section .title {
         padding-bottom: 31px;
      }

      /*End Services section */
      /* Footer Section */
      footer {
         background-color: #111;
         padding: 18px 19px 90px 23px;
         color: #FFF;
      }

   }