 * {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     -o-box-sizing: border-box;
     box-sizing: border-box;
     padding: 0;
     margin: 0;
     list-style: none;
     text-decoration: none;
 }

 body {

     min-height: 400vh;
 }

 html {
     scroll-behavior: smooth;

 }

 /*Start navbar */
 header {
     width: 100%;
     height: 80px;
     background-color: #0e0505;
     position: fixed;
     z-index: 9999;
 }

 nav {
     width: 100%;
     height: 6rem;
     display: flex;
     align-items: center;
     justify-content: space-between;
     transition: all 0.3s ease;
 }

 nav.sticky {
     padding: 15px 0;
     background-color: crimson;
     transition: all 0.3s ease;
 }

 nav.sticky .navbar-brand p span {
     color: #FFF;
 }



 nav .navbar-brand p {
     font-size: 30px;
     font-weight: bold;
     color: #FFF;
     margin-left: 104px;
 }


 nav .navbar-brand span {
     color: crimson;
 }

 .nav-list .nav-item a.active {
     color: crimson;
 }

 .nav-list {
     display: flex;
     list-style: none;
 }

 .nav-link {
     font-size: 17px;
     text-decoration: none;
     display: block;
     margin: 0px -0.5rem;
     color: #FFF;
     font-weight: bold;
     /* down line show and hide links smoothly*/
     transform: scale(0);
     transition: transform 650ms;
 }


 nav.sticky .nav-item .nav-link:hover {
     color: #FFF;
 }

 nav.sticky .nav-item .nav-link.active {
     color: #000;
 }

 .nav-item {
     position: relative;
     line-height: 5.8rem;
     padding: 0px 10px;
     transition-delay: .5s;
     visibility: hidden;

 }

 .nav-item::before {
     content: '';
     position: absolute;
     width: 100%;
     height: 3px;
     background-color: crimson;
     left: 0;
     bottom: 12px;
     transform: scaleX(0);
     transform-origin: right;
     transition: transform 650ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
 }

 .nav-item:hover::before {
     transform: scaleX(1);
     transform-origin: left;
 }

 .fa-arrow-circle-o-down:before {
     content: "\f01a";
     color: #FFF;
 }

 /*start hamburger */
 .menu-btn {
     position: relative;
     float: right;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 35px;
     height: 35px;
     cursor: pointer;
     transition: all .5s ease-in-out;

 }

 .menu-btn_burger {
     width: 22px;
     height: 2px;
     background-color: #fff;
     border-radius: 5px;

     transition: all .5s ease-in-out;
 }

 .menu-btn_burger::before,
 .menu-btn_burger::after {
     content: '';
     position: absolute;
     width: 22px;
     height: 2px;
     background-color: #fff;
     border-radius: 5px;

     transition: all .5s ease-in-out;
 }

 .menu-btn_burger::before {
     transform: translateY(-8px);
 }


 .menu-btn_burger::after {
     transform: translateY(8px);
 }

 .menu-btn.open .menu-btn_burger {
     transform: translateX(-25px);
     background-color: transparent;


 }

 .menu-btn.open .menu-btn_burger::before {
     transform: rotate(45deg) translate(15px, -15px);
 }

 .menu-btn.open .menu-btn_burger::after {
     transform: rotate(-45deg) translate(15px, 15px);
 }

 /*here execute the navLink hide and show with hamburger-menu smoothly*/
 .nav-list.open .nav-link {
     transform: scale(1);
     color: #FFF;
 }

 .nav-list.open .nav-link:hover {
     transform: scale(1);
     color: crimson;
 }

 .nav-list.open .nav-item {
     transition-delay: initial;
     visibility: visible;
 }

 /*here show the link (word home about--atc) one afert one */
 .nav-list.open .nav-item:nth-child(1) .nav-link {
     transition-delay: .5s;
 }

 .nav-list.open .nav-item:nth-child(2) .nav-link {
     transition-delay: .4s;
 }

 .nav-list.open .nav-item:nth-child(3) .nav-link {
     transition-delay: .3s;
 }

 .nav-list.open .nav-item:nth-child(4) .nav-link {
     transition-delay: .2s;
 }

 .nav-list.open .nav-item:nth-child(5) .nav-link {
     transition-delay: .1s;
 }

 /*Reverse Animation*/
 .nav-list .nav-item:nth-child(1) .nav-link {
     transition-delay: .1s;
 }

 .nav-list .nav-item:nth-child(2) .nav-link {
     transition-delay: .2s;
 }

 .nav-list .nav-item:nth-child(3) .nav-link {
     transition-delay: .3s;
 }

 .nav-list .nav-item:nth-child(4) .nav-link {
     transition-delay: .4s;
 }

 .nav-list .nav-item:nth-child(5) .nav-link {
     transition-delay: .5s;
 }

 .cantactIcon-i {
     display: none;
 }



 .cantactIcon-i i {
     padding: 12px 25px 10px 0px;
     color: #FFF;
     font-size: 25px;
 }

 .cantactIcon-i .fa-twitter:hover {
     color: #00b3ff;

 }

 .cantactIcon-i .fa-github:hover {
     color: rgb(88, 67, 67);
 }

 .cantactIcon-i .fa-facebook-official:hover {
     color: rgb(81, 81, 216);
 }

 /*End hamburger */
 /* End navbar "header" */



 /*start fixed menu .. (into home section)*/


 .fixed-menu {
     background-color: #fff;
     color: rgb(82 112 82 / 98%);
     padding: 10px;
     position: fixed;
     left: -220px;
     top: 130px;
     height: 180px;
     min-width: 220px;
     z-index: 9;
 }

 .fixed-menu .fa-gear {
     position: absolute;
     right: -30px;
     top: 60px;
     background-color: #333;
     width: 30px;
     height: 30px;
     line-height: 30px;
     text-align: center;
     border-radius: 0 10px 10px 0;
     cursor: pointer
 }

 .fixed-menu .change-colors li {
     width: 25px;
     height: 25px;
     display: inline-block;
     margin-top: 5px;
     cursor: pointer;

 }

 .fixed-menu .change-colors [data-color='red'] {
     background-color: #c0392b
 }

 .fixed-menu .change-colors [data-color='blue'] {
     background-color: #0e4e81
 }

 .fixed-menu .change-colors [data-color='green'] {
     background-color: rgb(82 112 82 / 98%)
 }

 .fixed-menu .change-colors [data-color='yellow'] {
     background-color: #e1db69
 }

 .fixed-menu .change-colors [data-color='black'] {
     background-color: #000
 }

 /*End fixed menu .. (into home section)*/
 /* start icon to change color in our page ..(this icone into fixed menu)*/

 /* start website theme colors*/

 [data-default-color='red'] .skin-color {
     color: #c0392b
 }

 [data-default-color='red'] .skin-background {
     background-color: #c0392b;
     color: #000;
 }

 [data-default-color='blue'] .skin-color {
     color: #0984e3
 }

 [data-default-color='blue'] .skin-background {
     background-color: #0e4e81;
     color: #fff;
 }


 [data-default-color='green'] .skin-color {
     color: rgb(82 112 82 / 98%)
 }

 [data-default-color='green'] .skin-background {
     background-color: rgb(82 112 82 / 98%);
     color: #FFF;
 }


 [data-default-color='yellow'] .skin-color {
     color: #ffa502;

 }

 [data-default-color='yellow'] .skin-background {
     background-color: #e1db69;
     color: #FFF;
 }

 [data-default-color='black'] .skin-color {
     color: #000;
 }

 [data-default-color='black'] .skin-background {
     background-color: #000;
     color: #FFF;
 }

 /* End icon to change color in our page ..(this icone into fixed menu)*/

 /* start navbar */
 .max-width {
     max-width: 1300px;
     padding: 0 80px;
     margin: auto;
 }

 /*All similar Content styling Code */

 section {
     padding: 30px 0;
     height: auto;
 }

 /*Start Organize BTN that scroll To Top */
 .scroll-up-btn {
     position: fixed;
     height: 45px;
     width: 45px;
     background: crimson;
     right: 30px;
     bottom: 30px;
     border-radius: 50%;
     text-align: center;
     line-height: 45px;
     color: #FFF;
     z-index: 999999;
     font-size: 30px;
     cursor: pointer;
     opacity: 0;
     transition: all 0.3s ease;
 }

 .scroll-up-btn {
     bottom: 30px;
 }

 .show {
     opacity: 1;
 }

 /*End Organize BTN that scroll To Top */

 /* Start Home Section */
 #home {
     background: #000;
     display: flex;
     align-items: left;
     justify-content: left;
     min-height: 91vh
 }

 .wrapper {
     margin-top: 95px;
 }

 .main-wrapper {
     margin-left: -81px;
 }

 /* start typer called "HI I'M MERVAT */

 .wrapper .static-txt {
     color: #FFF;
     font-size: 60px;
     margin-top: 110px;
     margin-left: -60px;
 }

 .wrapper .dynamic-txts {
     margin-left: -322px;
     margin-top: 30px;
     line-height: 90px;
     height: 90px;
     overflow: hidden;
 }

 .dynamic-txts li {
     font-size: 48px;
     color: crimson;
     font-weight: 400;
     position: relative;
     top: 0;
     left: 52px;
     animation: slide 15s steps(4) infinite;
 }

 @keyframes slide {
     100% {
         top: -360px
     }
 }

 .dynamic-txts li span {
     position: relative;
 }

 .dynamic-txts li span::after {
     content: "";
     position: absolute;
     left: 0px;
     top: 0px;
     height: 100%;
     width: 100%;
     background: #000;
     border-left: 6px solid crimson;
     animation: typing 2.8s steps(20) infinite;
 }

 @keyframes typing {
     80% {
         left: 100%;
         margin: 0 -35px 0 35px;
     }
 }

 .myMervat {
     float: right;
     margin-top: 140px;
     margin-right: 100px;

 }


 .mervat {
     height: 350px;
     width: 350px;
     margin-top: -28px;
     border-radius: 50%;
     border: 10px solid crimson;
     animation: scale-in-center 3s ease 0s 1 normal none;
 }

 @keyframes scale-in-center {
     0% {
         transform: scale(0.75);
         opacity: 1;
     }

     100% {
         transform: scale(1);
         opacity: 1;
     }
 }

 /* Start botton called view my works & arrow contact */
 .links {

     display: flex;
     justify-content: space-around;
     margin-top: 72px;
     margin-left: 185px;
 }

 .links .veiw a {
     text-decoration: none;
     color: #FFF;
     font-weight: bold;
     font-size: 18px;

 }


 .links .veiw {
     padding: 10px 50px;
     height: 58px;
     max-width: 240px;
     width: 100%;
     font-size: 18px;
     text-align: left;
     background: none;
     border-radius: 5px;
     box-shadow: inset 0 0 0 0 grey;
     transition: ease-in-out 1.9s;
     border: 1px solid #FFF;
     outline: none;
     margin-left: -54px;
     color: #FFF;
     text-decoration: none;
 }

 .links .veiw:hover {
     box-shadow: inset 250px 1px 1px 1px crimson;
     background: crimson;
 }

 /* Start arragment arrow that named contact me .... into Home screen   */
 .links .contct {
     width: 100%;
     background: none;
     text-align: center;
     border: none;
     outline: none;
     font-size: 25px;
     font-weight: 600;
     text-decoration: none;
     color: #FFF;
 }

 .links .contct:hover {
     color: crimson;
 }

 .links .contct .fa-caret-down {
     margin: 8px;
     font-size: 25px
 }



 /* End botton called view my works & arrow contact */


 /* Start arragment "arrow that down".... into Home screen */
 .arrwo {
     text-align: center;
     bottom: -10px;
     position: relative;
 }

 .arrwo .fa-arrow-down {
     font-size: 20px;
     color: #FFF;
     animation: bounce-top 1s ease 0s infinite normal none;

 }

 @keyframes bounce-top {
     0% {
         transform: translateY(0px);
     }

     50% {
         transform: translateY(10px);
     }

     100% {
         transform: translateY(0);
     }
 }


 .arrwo .fa-arrow-down:hover {
     color: crimson;
 }

 /* End Home Section */
 /*************** start about Section************** */


 .about,
 .services,
 .skills,
 .teams,
 .contact {
     font-family: sans-serif;
 }



 section .title {
     position: relative;
     text-align: center;
     font-size: 40px;
     margin-bottom: 60px;
     padding-bottom: 20px;
     font-weight: 500;
     font-family: sans-serif;
 }

 section .title::before {
     content: "";

     position: absolute;
     bottom: 0px;
     left: 50%;
     width: 180px;
     height: 3px;
     background: #111;
     transform: translateX(-50%);
  
 }

 section .title::after {
     position: absolute;
     bottom: -11px;
     left: 50%;
     font-size: 20px;
     color: crimson;
     padding: 5px;
     background: #FFF;
     transform: translateX(-50%);
 }

 #about {
     padding: 50px 0;
 }

 .about .title::after {
     content: "who i am";
 }

 .about .about-content,
 .services .serv-content,
 .skills .skills-content,
 .contact .contact-content {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-between;
 }

 .about .about-content .left {
     width: 45%;
 }

 .about .about-content .left img {
     width: 400px;
     height: 570px;
     border-radius: 6px;
 }

 .about .about-content .right {
     width: 55%;
 }

 .about .about-content .right .text {
     font-size: 50px;
     font-weight: 800;
     margin-bottom: 50px;

 }

 .about .about-content .right .text span {
     color: crimson;

 }

 .about .about-content .right p {
     text-align: justify;
 }

 /* End about Section */


 /* Start Services Section */
 .services,
 .teams {
     color: #FFF;
     background: #111;

 }

 .services .title::before,
 .teams .title::before {
     background: #FFF;

 }

 .services .title::after,
 .teams .title::after {
     background: #111;
     content: "what i Provide";
 }

 .services .serv-content .card {
     width: calc(33% - 20px);
     background: #222;
     text-align: center;
     border-radius: 6px;
     padding: 20px 25px;
     cursor: pointer;
     transition: all 0.3s ease;
 }

 .services .serv-content .card .box {
     transition: all 0.3s ease;
 }

 .services .serv-content .card:hover {
     background: crimson;
 }

 .services .serv-content .card:hover i {
     color: #FFF;
 }

 .services .serv-content .card:hover .box {
     transform: scale(1.05);
 }

 .services .serv-content .card i {
     font-size: 50px;
     color: crimson;
     transition: color 0.3s ease;
 }

 .services .serv-content .card .text {
     font-size: 25px;
     font-weight: 500;
     color: #FFF;
 }

 .services .serv-content .card #textButton {
     display: inline-block;
     background: none;
     color: #FFF;
     font-size: 18px;
     font-weight: 700;
     padding: 5px 10px;
     border-radius: 6px;
     text-decoration: none;
     border: 2px solid crimson;
     transition: all 0.3s ease;
 }

 .services .serv-content .card #textButton:hover {
     color: #FFF;
     background: none;
     border: 2px solid #111;
 }

 /* End Services Section */
 /* Start Skills Section */
 .skills .title::after {
     content: "what i Know";

 }

 .skills .skills-content .column {
     width: calc(50% - 30px);
 }

 .skills .skills-content .left .text {
     font-size: 25px;
     font-weight: 600;
     margin-bottom: 10px;

 }

 .skills .skills-content .left p {
     text-align: justify;
     font-size: 25px;
 }

 .skills .skills-content .left a {
     display: inline-block;
     background: crimson;
     color: #FFF;
     font-size: 18px;
     font-weight: 700;
     padding: 8px 16px;
     margin-top: 20px;
     border-radius: 6px;
     text-decoration: none;
     border: 2px solid crimson;
     transition: all 0.3s ease;
 }

 .skills .skills-content .left a:hover {
     color: crimson;
     background: none;
 }


 .skills .skills-content .right .bars {
     margin-bottom: 15px;

 }

 .skills .skills-content .right .info {
     display: flex;
     margin-bottom: 5px;
     align-items: center;
     justify-content: space-between;

 }

 .skills .skills-content .right span {
     font-weight: 800;
     font-size: 18px;

 }

 .skills .skills-content .right .line {
     height: 5px;
     width: 100%;
     background: lightgray;
     position: relative;

 }

 .skills .skills-content .right .line::before {
     content: "";
     position: absolute;
     height: 100%;
     left: 0;
     top: 0;
     background: crimson;

 }

 .skills .skills-content .right .html::before {
     width: 100%;

 }

 .skills .skills-content .right .css::before {
     width: 95%;

 }


 .skills .skills-content .right .js::before {
     width: 80%;

 }


 .skills .skills-content .right .bootstrap::before {
     width: 90%;

 }


 .skills .skills-content .right .jquery::before {
     width: 92%;

 }

 /* End Skills Section */
 /* start teams section */

 .recentcarousel .small-img {
     width: 200px;
     height: 200px;
     border-radius: 50%;
 }







 .recentcarousel .title::after {
     content: "brief about my works";
 }

 .recentcarousel p {
     color: crimson;
     font-weight: 800;
 }

 #carouselExampleCaptions .carousel-indicators button {
     background-color: #FFF;
     width: 30px;
     height: 30px;
     border-radius: 50%;
     margin-top: 20px;
 }

 #carouselExampleCaptions .carousel-indicators button.active {
     background-color: crimson;
     width: 30px;
     height: 30px;
     border-radius: 50%;

 }

 #carouselExampleCaptions .carousel-inner #small-img {
     margin-bottom: 15px;
 }

 #carouselExampleCaptions .carousel-inner h5 {
     margin-bottom: 40px;
 }

 .carousel-control-next-icon,
 .carousel-control-prev-icon {
     display: inline-block;
     width: 2rem;
     height: 2rem;
     background-repeat: no-repeat;
     background-position: 50%;
     background-size: 100% 100%;
     padding: 30px;
     background-color: transparent;
     border-radius: 50%;
     transition: all 0.6s ease-in-out;
 }

 .carousel-control-next-icon:hover,
 .carousel-control-prev-icon:hover {
     background-color: #d3d3d3;
     transition: all 0.6s ease-in-out;
 }

 /* End teams section */
 /* Start contact Section */
 #contacting .title::after {
     content: "how contact me";
     background: #FFF;

 }

 /* part LEFT into section Contacting */
 .contactLeft {
     padding: 0px 10px 20px 20px;
 }

 .contactLeft .injoy {
     margin: 30px 0px;
     text-align: left;
     font-size: 23px;
     max-width: 510px;
 }

 .contactLeft .cantactIcons i {
     padding: 5px;
     margin-left: 15px;
     font-size: 30px;
     cursor: pointer;
     color: #111;

 }

 .contactLeft h3 {

     color: #000;
     text-align: left;
     font-weight: bold;
 }

 .contactLeft h5 {
     color: #000;
     text-align: left;
     font-weight: bold;

 }

 .contactLeft .sham {
     color: #000;
     text-align: left;
     font-size: 22px;
     margin: 10px 0px;
 }



 .contactLeft .cantactIcons {
     text-align: left;
     margin: 20px -27px;
     font-size: 17px;
 }


 .contactLeft .cantactIcons .fa-twitter:hover {
     color: #00b3ff;

 }

 .contactLeft .cantactIcons a .fa-github:hover {
     color: #3a3333;

 }


 .contactLeft .cantactIcons .fa-facebook-official:hover {
     color: rgb(81, 81, 216);

 }



 /* part Right into section Contacting */
 section .title {
     margin-bottom: 25px;
     padding-bottom: 20px;
 }

 #contacting .wrapper {
     margin-top: 40px;
 }

 .contactRight input {
     margin-bottom: 10px;
     border: none;
     outline: none;
 }


 .wrapper .input_field input[type="text"],
 .wrapper .input_field input[type="number"],
 .wrapper textarea {
     width: 100%;
     border: 1px solid #e0e0e0;
     padding: 10px;
     background-color: transparent;
     border-bottom: 1.4px solid gray;
     outline: none;
 }

 .wrapper textarea {
     height: 80px;
     /* resize: none; */
 }

 .wrapper .btnn input[type="submit"] {
     border: 0;
     margin-top: 3px;
     padding: 10px;
     width: 35%;
     background: none;
     color: #000;
     text-align: center;
     text-transform: uppercase;
     letter-spacing: 5px;
     font-weight: bold;
     box-shadow: inset 0 0 0 0 gray;
     border: 2px solid crimson;
     border-radius: 10px;
     cursor: pointer;
     transition: all 1.5s ease;
 }



 .wrapper .btnn input[type="submit"]:hover {
     box-shadow: inset 300px 1px 1px 1px crimson;
     color: #FFF;
 }

 /* End Contacting section */
 /* Start Footer Section */
 footer {
     background-color: #111;
     padding: 18px 19px 55px 23px;
     color: #FFF;

 }

 footer .created {
     float: left;
     font-size: 23px;
 }

 footer a {
     color: #FFF;
     font-size: 23px;

     text-decoration: none;
 }

 footer a:hover {
     color: crimson;
     font-weight: 700;
 }

 .cantactIcon-i2 {
     float: right;
 }

 .cantactIcon-i2 i {
     padding: 12px 25px 10px 0px;
     color: #FFF;
     font-size: 25px;
 }

 .cantactIcon-i2 .fa-twitter:hover {
     color: #00b3ff;

 }

 .cantactIcon-i2 .fa-github:hover {
     color: rgb(88, 67, 67);
 }

 .cantactIcon-i2 .fa-facebook-official:hover {
     color: rgb(81, 81, 216);
 }


 /* End Footer Section */