   @media (min-width:401px) and (max-width:991px) {

       /* start navbar "header" */
       nav {
           width: 100%;
           background-color: #000;
           height: 8rem;
           position: fixed;
           right: 1px;
           display: flex;
           align-items: center;
           justify-content: space-between;
           z-index: 99;
       }

       .nav-list {
           width: 100%;
           height: 85vh;
           flex-direction: column;
           align-items: center;
           justify-content: center;
           background-color: #000000eb;
           position: fixed;
           left: 0;
           bottom: -100vh;
           transition: bottom 650ms;
           z-index: 99
       }

       .nav-list.open {
           bottom: -17px;
       }

       .nav-item {
           position: relative;
           line-height: 3rem;
           transition-delay: .5s;
           visibility: hidden;
       }

       .cantactIcon-i {
           display: block;

       }

       .cantactIcon-i .fa {
           color: #FFF;
           font-size: 30px;
           display: inline;
           padding: 10px;
       }


       /*start fixed-menu*/

       .fixed-menu {
           background-color: #fff;
           color: rgb(82 112 82 / 98%);
           padding: 10px;
           position: fixed;
           left: -220px;
           top: 130px;
           height: 180px;
           min-width: 220px;
           z-index: 99;
       }




       /*End fixed-menu*/



       /* end navbar "header" */



       #home {
           height: auto;
       }

       .movy {
           flex-direction: column-reverse;
       }

       .hero {
           height: 332px;
           border-radius: 50%;
           border: 10px solid rgb(82 112 82 / 98%);
           animation: scale-in-center 3s ease 0s 1 normal none;
       }

       @keyframes scale-in-center {
           0% {
               transform: scale(0.75);
               opacity: 1;
           }

           100% {
               transform: scale(1);
               opacity: 1;
           }
       }



       .boxx {

           display: flex;
           justify-content: center;
           align-items: center;
           min-height: 130px;
           margin: 50px auto;
           background: #000;
           overflow: hidden;
           margin-top: -12px;
           margin-left: -6px;
       }

       .box {
           position: relative;
           width: 100%;
           height: 150px;
           display: flex;
           justify-content: center;
           align-items: center;
           /* background-color: darkgreen; */

       }

       .box h2 {
           color: #fff;
           font-size: 3em;
           font-weight: 600;
           letter-spacing: 0.1em;

           text-shadow: 0 0 10px #00b3ff,
               0 0 20px #00b3ff,
               0 0 40px #00b3ff,
               0 0 80px #00b3ff,
               0 0 120px #00b3ff;

       }

       .lightbar {
           position: absolute;
           top: 0;
           left: 0;
           width: 10px;
           height: 100%;
           border-radius: 10px;
           background: #FFF;
           z-index: 2;
           box-shadow: 0 0 10px #00b3ff,
               0 0 20px #00b3ff,
               0 0 40px #00b3ff,
               0 0 80px #00b3ff,
               0 0 120px #00b3ff;
           animation: animatelightbar 5s linear infinite;
       }

       @keyframes animatelightbar {

           0%,
           5% {
               transform: scaleY(0) translateX(0);
           }

           10% {
               transform: scaleY(1) translateX(0);
           }

           90% {
               transform: scaleY(1) translateX(calc(600px - 10px));
           }

           95%,
           100% {
               transform: scaleY(0) translateX(calc(600px - 10px));
           }
       }

       .topLayer {
           position: absolute;
           top: 0;
           left: 0%;
           width: 100%;
           height: 100%;
           background: #000;
           animation: animatetopLayer 10s linear infinite;
       }

       @keyframes animatetopLayer {

           0%,
           2.5% {
               transform: translateX(0);
           }

           5% {
               transform: translateX(0);
           }

           45% {
               transform: translateX(100%);
           }

           47.5%,
           50% {
               transform: translateX(100%);
           }

           50.001%,
           52.5% {
               transform: translateX(-100%);
           }

           55% {
               transform: translateX(-100%);
           }

           95% {
               transform: translateX(0%);
           }

           97.5%,
           50% {
               transform: translateX(0%);
           }
       }




       /* start arrangment the typer that content of I'm Free Lancer */
       .typer {
           font-size: 32px;
           color: #FFF;
           text-shadow: -1px -6px 4px rgb(70 206 70 / 98%);
       }

       /* End arrangment the typer that content of I'm Free Lancer */
       /* start arragment button that named veiw my works .... into from 401px to 991px  */
       .links {
           height: 53px;
           margin: 28px;
           display: inline-block;
       }

       .links .veiw a {
           color: #FFF;
           font-weight: bold;
           text-decoration: none;

       }

       .links .veiw {
           padding: 2px 55px;
           height: 100%;
           font-size: 19px;
           background-color: rgb(82 112 82 / 98%);
           border-radius: 5px;
           box-shadow: inset 0 0 0 0 #009688;
           transition: ease-in-out 1.9s;
           border: 1px solid rgb(82 112 82 / 98%);
           outline: none;
       }

       .links .veiw:hover {
           box-shadow: inset 250px 1px 1px 1px #000;
       }

       /* End arragment button that named veiw my works .... into from 401px to 991px  */
       /* Start arragment arrow that named contact .... into from 401px to 991px  */
       .contct {
           background-color: #000;
           border: none;
       }

       .contactMe {
           font-size: 20px;
           color: green;
           margin: 12px 7px;
           display: inline-block;
           background-color: transparent;
       }

       .contactMe::before {
           color: rgb(82 112 82 / 98%);
           background-color: transparent;
           font-weight: bold;
           content: "Contact Me";
           font-size: 19px;
           margin: 8px 0px;
           text-decoration: underline;
           padding: 6px 12px;

       }

       /* End arragment arrow that named contact .... into from 401px to 991px  */

       /* Start arragment "arrow that down".... into from 401px to 991px */
       .arrwo {
           text-align: center;
           bottom: -6px;
           position: relative;
       }

       .arrwo .fa-arrow-down {
           font-size: 20px;
           color: rgb(82 112 82 / 98%);
           margin-bottom: 20px;
           cursor: pointer;
           animation: bounce-top 1s ease 0s infinite normal none;
       }

       @keyframes bounce-top {
           0% {
               transform: translateY(0px);
           }

           50% {
               transform: translateY(10px);
           }

           100% {
               transform: translateY(0);
           }
       }

       /* End arragment "arrow that down".... into from 401px to 991px */

       /* start arrangment the about section that content of circle "22" ... atc in screen from 251 TO 400px*/


       #about {
           height: auto;
       }

       #about h4 {
           padding: 2px 5px;
           font-size: 17px;
           background-color: #62622299;
           margin: 10px auto;


       }

       #about h1 {
           margin: 20px 10px 55px 5px;
           font-weight: bold;
           font-size: 44px;
       }


       .yearsExper h2 {
           color: #000;
           margin-bottom: 20px;
       }

       .yearsExper h2 .sherif {
           border-bottom: 4px solid #62622299;
           font-weight: bold;
           font-size: 33px;
           color: #000;
           font-weight: bold;
           display: inline-block;
           padding: 4px;
           line-height: 33px;
       }

       .yearsExper h2 .shicko {
           border-bottom: 4px solid #62622299;
           font-weight: bold;
           font-size: 33px;
           color: #000;
           font-weight: bold;
           display: inline-block;
           padding: 4px;
           line-height: 33px;
       }




       .twinty {
           padding: 10px 25px;
           margin: 10px 5px 10px 18px;
           background-color: #62622299;
           border-radius: 50%;
           display: inline-flex;
       }

       .twinty p {
           font-size: 70px;
           font-weight: bold;

           animation: scale-up-center 1s ease 0s 1 normal none;
       }

       @keyframes scale-up-center {
           0% {
               transform: scale(1);
           }

           50% {
               transform: scale(1.5);
           }

           100% {
               transform: scale(1);
           }
       }


       /* .year {
           margin-top: 22px;
           font-size: 28px;
        

       } */





       /*End arrangment the about section that content of circle "22" ... atc in screen from 251 TO 400px */

       /* start arrangment Icons email, Address, data .... atc into section About Me */

       .dataA {
           text-align: center;
           margin: 30px 49px -17px 10px
       }

       .dataA i {
           color: #62622299;
           font-size: 30px;
       }

       /* End arrangment Icons email, Address, data .... atc into section About Me */
       /* start arrangment the What I do section that content title How I can help your next project ... atc in screen from 0 TO 250px */
       #what-i-do {
           height: auto;
       }

       #what-i-do h4 {
           padding: 4px 8px;
           font-size: 17px;
           text-align: center;
           background-color: #62622299;
           margin: 10px auto;
           display: inline-block;
       }

       /* End arrangment the "Resume" section that content title A summary of My Resume ... atc in screen from 401 TO 991px */


       .resumeA {
           padding: 0px 0px 5px 8px;
           margin-left: 40px;
       }


       .resume .resumeA hr {
           margin: 15px 30px 0px 5px;
       }



       /* Start button that named Download CV ... into Resume Section */
       .downloadcv {
           background-color: #009688;
           color: #FFF;
           width: 160px;
           font-weight: bold;
           padding: 10px;
           border-radius: 10px;
           letter-spacing: 1px;
           margin: 35px -13px;
           border: 2px solid rgb(82 112 82 / 98%);
           transition: ease-in-out 1.9s;
           box-shadow: inset 0 0 0 0 #009688;
           margin-left: -20px;
       }

       .downloadcv:hover {
           box-shadow: inset 160px 1px 1px 1px #000;
       }

       /* End button that named Download CV ... into Resume Section */

       #Portfolio h4 {
           padding: 4px 8px;
           font-size: 17px;
           text-align: center;
           background-color: #e9e94399;
           margin: 10px auto;
           display: inline-block;
       }


       /* End arrangment the "Resume" section that content title A summary of My Resume ... atc in screen from 0 TO 250px */
       /* Start Feature Works ... scroll menu*/

       .featured-work ul {
           margin-top: 40px;
           display: flex;
           margin-bottom: 50px;
           /* width: 600px; */
           display: flex;
           flex-wrap: nowrap;
           flex-direction: row;
           overflow-x: auto;
           margin: 100px auto;
       }

       /* End Feature Works ... scroll menu*/
       /*and complement start Feature Works ... that content of  6 images Like lamp, clock , Blue Orange */
       .featured-work .row img {
           width: 100%;
           margin-bottom: 15px;
       }


       /* and End  complement Feature Works ... that content of 6 images like kandy, lamp,clock, blue Orange .... atc*/
       /*Start Gallery */
       .featured-work .row img {
           width: 100%;
           margin-bottom: 25px;
       }


       .gallery .master-img .fa-chevron-left {
           position: absolute;
           top: 45%;
           left: 10%;
           font-size: 20px;
       }



       .gallery .master-img .fa-chevron-right {
           position: absolute;
           top: 45%;
           right: 10%;
           font-size: 20px;
       }

       /* End Gallery */

       /*Start faq section that content of Keyboard On desk or Office */

       .container-faq h2 {
           font-size: 42px;
           font-weight: bold;
           color: #FFF;
           position: absolute;
           left: 157px;
           margin-top: -336px;
       }



       .container-faq button {
           max-width: 120px;
           width: 100%;
           padding: 15px;
           color: red;
           font-weight: bold;
           background-color: #62622299;
           text-align: center;
           border: none;
           position: absolute;
           top: 170px;
           margin: 57px -54px;
           display: inline-block;
           animation: scale-in-hor-center 1s ease 0s 1 normal none;
       }

       @keyframes scale-in-hor-center {
           0% {
               transform: scaleX(0);
               opacity: 1;
           }

           100% {
               transform: scaleX(1);
               opacity: 1;
           }
       }

       .container-faq button a {
           color: #FFF;
           text-decoration: none;
           text-shadow: -3px -1px 0px #62622299;
       }


       /*END faq section that content of Keyboard On desk or Office*/
       /* start section Accordion that content summary details in basic format*/
       #biglamp .lamp {
           flex-direction: column-reverse;
       }

       .faqqq h5 {
           background-color: #62622299;
           display: inline;
           padding: 1px 20px;
           margin-left: -85px;
       }


       .faqqq h2 {
           font-weight: bold;
           font-size: 32px;
           margin: 18px 0px 50px -85px;
       }



       details {
           padding: 0 1rem;
           margin-left: -60px;
       }

       details>summary {
           justify-content: space-between;
           padding: 0px;
           max-width: 375px;
           width: 100%;
           font-size: 18px;
           cursor: pointer;
           list-style: none;
           font-weight: bold;
           margin: 15px 15px 0px 40px;
           text-align: left;
           color: #6d72749e;
       }

       .fa-chevron-circle-up {
           color: rgb(82 112 82 / 98%);
           font-size: 30px;
           margin-left: -25px;
           padding: 10px 13px
       }

       .fa-chevron-circle-down {
           color: rgb(82 112 82 / 98%);
           font-size: 30px;
           margin-left: -25px;
           padding: 10px 13px
       }




       details p {
           margin-left: 35px;
           width: auto;
           height: auto;

       }

       details p::first-letter {
           font-size: 3vw;
           color: rgb(82 112 82 / 98%);
           margin-left: 8px;
           font-weight: bold;
       }


       #biglamp .lampimg {
           width: auto;
           height: 400px;
           margin: 35px 4px 50px -75px;
       }


       /* End section Accordion that content summary details in basic format*/
       /*Start carousel Named client Speak*/

       /* start client Speak Section */
       #clientSpeak h1 {
           position: absolute;
           top: 125px;
           left: 100px;
           color: #FFF;
       }

       #carouselExampleCaptions h4 {
           position: relative;
           top: 65px;
           left: -6px;
           padding: 1px 8px;
           font-size: 17px;
           text-align: center;
           background-color: #e9e94399;
           margin: 10px auto;
           display: inline-block;
           z-index: 9;
       }

       #carouselExampleCaptions .carousel-inner {
           position: relative
       }






       .carousel-item #client {
           margin-bottom: 17px;
       }

       .carousel-item h5 {
           color: #FFF;
           margin: 10px 0px 15px 0px;
           font-size: 22px;
       }



       #carouselExampleCaptions li {
           background-color: #fff;
           width: 25px;
           height: 25px;
           border: 2px solid #FFF;
           border-radius: 50%;


       }

       /*End carousel Named client Speak*/

       /*start carosule speakClinet */
       .carousel-caption p {
           position: absolute;
           font-size: 18px;
           letter-spacing: 0px;
           right: 15%;
           top: -59%;
           left: 15%;

       }


       /*End carosule speakClinet */
       #contact {
           background-color: #80808040;
           height: auto;
       }

       .contactLeft {

           max-width: 710px;
           width: 100%;
           height: 570px;
           margin: 20px 0px 20px 0px;
       }

       .contactLeft h1 {
           font-size: 38px;
           font-weight: 700;
           text-align: center;
           margin: 0px;

       }

       .contactLeft .injoy {
           font-size: 22px;
           font-weight: 600;
           text-align: center;
           max-width: 653px;
           ;
       }

       .contactLeft .sham {
           font-size: 20px;
           text-align: center;
       }

       .contactLeft h5 {
           font-size: 23px;
           text-align: center;
       }

       .contactLeft .phone {
           font-size: 20px;
           text-align: center;
       }

       .contactLeft .cantactIcons {
           font-size: 29px;
           padding: 2px 10px;
           text-align: center;
       }

       .contactLeft .cantactIcons i {
           font-size: 29px;
           padding: 2px 10px;
           text-align: center;


       }

       /*End  this is Left Side on section contact*/
       /*Start this is RIGHT Side on section contact*/





       .contactRight h1 {
           color: #000;
           font-weight: bold;
           font-size: 41px;
           margin-top: -16px;
           margin-left: 10px;
       }

       /*End this is RIGHT Side on section contact*/
































       /* End contact section */

       /* start footer */
       .footer {
           width: 100%;
           height: 153px;
           background-color: #000;
           color: #FFF;
           margin-top: -21px;

       }

       .footer .cop {

           font-size: 19px;
           text-align: center;
           margin-top: 10px
       }

       .footer .cop a {
           color: #ffa502;
           font-weight: bold;
           text-decoration: underline;
       }

       .footer .design {

           font-size: 16px;
           text-align: center;
           margin-top: 0px
       }

       .footer .design a {
           color: #ffa502;
           font-weight: bold;
           text-decoration: underline;
       }

       .footer .footerIcons i {

           text-align: left;
           font-size: 30px;
           padding: 20px 25px;

       }



       /* End  footer*/




   }